@font-face {
  font-family: Archia;
  src: url(font/archia-regular-webfont.woff);
}

html {
font-family: Archia;
}


body{
  font-family: Archia;
	color: #1e1e28;
  font-size: 16px;
  line-height: 1.25em;
	text-align: center;
	background: #ffffff;
  margin: 0;
}

.header {
  display: inline-block;
  height: 76px;
  width: 100%;
}



.video {
  height: 500px;
  width: 100%;
  background-color: #ececec;
  margin-bottom: 7%;
}

.blok {
  display: flex;
  margin: 0px 10% 5%;
}

.image {
  height: 450px;
  width: 50%;
  background-color: #e2e2e2;
  margin: 20px;
}


.content-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.random_kotak {
  display: inline-block;
  height: 400px;
  width: 400px;
  background-color: #dfdfdf;
  margin-top: 5px;  
}

.project_home {
  height: 200px;
  justify-content: center;
  margin-top: 100px;
}

.project_project {
  height: 450px;
  justify-content: center;
}

.text {
  text-align: left;
  height: 450px;
  width: 50%;
  margin: 20px;
}

.footer{
  background-color: #1e1e28;
  float: left;
  position: relative;
  height: 300px;
  width: 100%;
  z-index: 3;
  clear: left;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
}

.footer-text{
  font-size: 30 px;
  /*margin: 100px;*/
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  text-align: left;
}

.footer2 {
  background-color: #1e1e28;
  float: left;
  position: relative;
  z-index: 3;
  clear: left;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  display: inline;
  width: 100%;
}

ul.horizontal {
    overflow: hidden;

    list-style: none;
    margin: 0;
    padding: 0;

    flex-wrap: wrap;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 100%;
}

ul.horizontal li {
  float: right;
  margin: 0px;
}

ul.horizontal li a.efekGaris {
  color: inherit;
  text-decoration: none;
}

ul.horizontal li a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  margin: 5px;
}

ul.horizontal li a span {
  word-spacing: 10px;
  /*letter-spacing: 5px;*/
}


/*efek garis*/
li a.efekGaris::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #F4364C;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

li a.efekGaris:hover::after,
li a.efekGaris:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/*efek garis : slide in*/
li:nth-child(n) a.efekGaris {
  overflow: hidden;
}

li:nth-child(n) a.efekGaris::after {
  opacity 1;
  transform: translate3d(-100%, 0, 0);
}

li:nth-child(n) a.efekGaris:hover::after,
 li:nth-child(n) a.efekGaris:focus::after{
  transform: translate3d(0, 0, 0);
}

/*navbar*/

ul.gray {
    border: none;
    background-color: #1e1e28;
    vertical-align: center;

}

ul.gray li {
    margin: 0px 2%;
    display: flex;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

ul.gray li.slide_in a {
  margin: none;
  padding: none;
}

.yourCorp {
    color: white;
    background-color: none;
    border-radius: 30px;
    border-color: #ffffff;
    border-spacing: none;

    border: 1px solid white;
    border-color: white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    box-shadow: inset 0 0 0 0 #F4364C;
    transition: ease-out 0.2s;
    outline: none;
}



.yourCorp:hover {
    box-shadow: inset 200px 0px 0px 0px #F4364C;
}

ul.gray li span.logo {
    color: white;
    background-color: #F4364C;
    border-radius: 30px;
    border-color: #ffffff
    border-spacing: none;

    border: 1px solid white;
    border-color: white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out 0.2s;
}

ul.gray li span.logo:hover {
    box-shadow: inset 75px 0px 0px 0px #1e1e28;
    color: #fff;
}

ul.footer-nav hr {
  display: block;
  align
  font-weight: 0.5px;
}

ul.footer-nav {
    border-top: 0.1px dotted #f9fbfb;

    overflow: hidden;

    list-style: none;
    margin: 0;
    padding: 0px;

    flex-wrap: wrap;
    justify-content: center;

    top: 0;
    width: 100%;

    /*border: 1px solid #e7e7e7;*/
    background-color: #1e1e28;

}

ul.footer-nav li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    /*margin: 5px;*/
}

ul.footer-nav li a {
  color: inherit;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.2em 0;
  margin: 5px;
}


/*#cloud {
  overflow: hidden;
  width: 1px; height: 1px;
  transform: translate(-100%, -100%);
  border-radius: 50%;
  filter: url(#filter);
}

#cloud:after {
  content: 'click to update';
  font-size: .8em;
  color: rgba(0, 0, 0, .3);
  position: fixed;
  width: 100%;
  bottom: 1em;
  text-align: center;
}*/


.paragraph{
  margin-left: 10%;
  margin-right: 10%;
}

.login {
  width: 600px;
  margin: 200px auto;
  text-align: left;
}

.login div {
  width: 100%;
  margin: 15px auto;
}

.login label {
  display: block;
  padding: 20px;
  font-size: 25px;
}

.login input {
  width: 96%;
  padding: 10px;
  border: 3px solid #dd3b2a;
  font-size: 20px;
  margin-left: 20px;
  border-radius: 3px;
}
.login button {
  margin: 20px;
  padding: 10px;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #edf6ff;
  background: linear-gradient(90deg, royalblue, lightgreen);
}

.login span {
  display: block;
  margin-left: 20px;
  color: red;
  font-style: italic;
} 

